body{
    margin: 0;
    background-color: #111111;
    /* overflow-x: hidden; */
}
.betterheader h1{
    text-align: center;
    margin-top: 0;
    padding-top: 110px;
    font-size: 90px;
    opacity: 0.8;
    color: lightcoral;
}
.betterheader{
    width: 960px;
    height: 400px;
    margin-left: 25%;
    background-image: url("../imgs/peppers.png");
}
.navbar{
    width: 960px;
    height: 50px;
    margin-left: 25%;
    margin-bottom: 0;
    overflow: auto;
    background-color: #FF5403;
}
.navbar a{
    float: left;
    padding: 15px 24px;
    text-decoration: none;
    font-size: 17px;
    color: #9B0000;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}
.navbar a:hover {
    background-color: #FFF323;
}
.second{
    width: 480px;
    height: 500px;
    float: left;
}
.page{
    text-align: center;
}
.pain{
    margin-left: 25%;
}
.pain::after {
    content: "";
    clear: both;
    display: table;
}
.text{
    text-align: center;
    width: 50%;
    margin:50px 0 0 90px;
    color: #FF5403;
}
hr {
    border-style: solid none none;
    border-width: 2px;
    border-color: #FF5403;
    width: 960px;
    margin-top: 0px;
    margin-bottom: 50px;
}
.copyright{
    width: 960px;
    height: 50px;
    margin-left: 25%;
    text-align: center;
}
.copyright p{
    color: #f44336;
}
.bottom{
    width: 960px;
    height: 250px;
    margin-left: 25%;
    color: #f44336;
    
}
.bottom:after {
    content: "";
    clear: both;
    display: table;
}
.footerdiv{
    width: 240px;
    height: 250px;
    float: left;
    text-align: center;
    margin-top: 8%;
}
/* .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
} */
